/* Carrito compras */
.carrito {
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 15px;
  z-index: 9999;
}

.carrito-h {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  display: flex;
  justify-content: center;
}

//tamaño
.carrito-div-icon {
  transition: all .1s;


  &:hover {
    transition: all .1s;

  }

}




/* numero alerta */
#numero-alerta {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  bottom: 54px;
  left: 66px;
  z-index: 10;

}


/* tamaño */
.carrito-icon {

  width: 50px;

}

// modal
.modal-window {
  position: fixed;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &>div {

    width: auto;
    min-width: 700px;
    max-height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }

}

// boton cerrar
.modal-close {
  color: #aaa;
  border-radius: 5px;
  background-color: red;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

/* Demo Styles */



.modal-window {
  &>div {
    border-radius: 1rem;
    overflow-y: scroll;
  }
}


@media (max-width: 700px) {
  #items-c{
      width: 400px;
    }
  }








small {
  color: lightgray;
}

/* boton carrito */

.btn-carrito-style {

  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  visibility: visible;
  pointer-events: auto;
  box-sizing: border-box;

  font-family: inherit;
  text-transform: none;
  -webkit-appearance: button;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  color: #ededed;
  background-color: $colores-foothead;

  cursor: pointer;
  /* tama */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}