@mixin logo {
    font-family: "Yellowtail";
    font-weight: bold;
    list-style: none;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

}
@mixin deafult {
    * {
        margin: 0;
        padding: 0;
      }
      
}