
//variables


// color diseño
$colores-g: rgb(236, 236, 236);
// color texto-diseño
$colores-txt: #e6f9af;
// color diseño 2
$colores-txt2: #8bbeb2;
// Color footer/header
$colores-foothead: #0d0630;
// color fondo general gris
$colores-fondo-general: #ececec;
// color texto negro no tan fuerte
$colores-txt-black: #3c3a3a;


//fuentes

// Montserrat
$Montserrat: "Montserrat";
// TiemposFont
$TiemposFont: "TiemposFont";