// Variables
@import "../components/variables";



.sec-pantalones {
    padding: 5% 0;
    overflow: hidden;
}

/* Imagen  +  texto */
.div-pantalones {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}

.h-pantalones {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -150%);
    -ms-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    font-family: $Montserrat;
}

/* catalogo */
.cat-pantalones {
    padding-top: 1%;
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr) 10px minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    color: $colores-txt;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cat-pantalones-grid {
    background-color: #384e77;
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}