// Variables
@import "../components/variables";
@import "../components/mixin";


body{
    background-color: $colores-fondo-general;
}
h1{
    font-size: 1em;
}
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
/* --------------------- Header --------------------- */

header {
    background-color: $colores-foothead;
    display: inline-block;
    
}

#user-navbar {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#disable {
    display: none;
    margin-left: 2empx;
}

#disable2 {
    display: inline;
}

/* logo */
.logo {

    @include logo;
    padding: 0 1em 0 1em;
    font-size: 2em;
    color: $colores-txt2;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-right: 1px solid #afbef03a;

    &:hover {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

/* texto */
.txt-header {
    font-weight: bold;
    text-transform: uppercase;
    color: $colores-txt2;

    &:hover {
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }

}

/* efectos/colores */
.header-effect {
    display: inline;
    padding-bottom: 4px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
    background-image: -o-linear-gradient(currentColor, currentColor);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 1% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    -webkit-transition: background-size 0.3s;
    -o-transition: background-size 0.3s;
    transition: background-size 0.3s;
  }

.header-effect:hover {
    background-size: 100% 2px;
}

#navbar-color {
    border-color: #afbef03a;
    border: 4px solid #afbef03a;

}

.fill-icon-navbar {
    fill: $colores-txt2;
    width: 25px;

}

.fill-icon-navbar-2 {
    width: 35px;
    fill: $colores-txt2;

    &:hover {
        &:hover {
            fill: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    }
}

.navbar-pad {
    padding-left: 2em
}

#navbar-pad-li {
    padding-right: 2em;
    padding-left: 2em;
}

.navbar-pad-ul {
    padding-left: 2em;
}

.icon-nav {
    padding: 0 3em 0 0.75em;
    border-left: 1px solid #afbef03a;
}

/* mobile */
@media (max-width: 991px) {
    .icon-nav {
        padding: 0 3em 0 0.75em;
        border-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
    }

    .navbar-nav-border {
        border-top: 1px solid #afbef03a;
        padding-top: 1em;
        margin-top: 0.75em;
    }

    #user-navbar {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #disable {
        display: inline;
    }

    #disable2 {
        display: none;
    }
}